<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Goal</th>
      <th scope="col">Exercise</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th scope="row">[[${track.id}]]</th>
      <td>[[${track.content}]]</td>
      <td>[[${track.content1}]]</td>
      <td>[[${track.content2}]]</td>
    </tr>
    
  </tbody>
</table>
    
    <a href="/track">Submit another message</a>
</body>
</html>