<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="component">
<table class="table table-stripped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Department</th>
				<th scope="col">Updated By</th>
				<th scope="col">Updated On</th>

			</tr>
		</thead>

		<tr th:each="student:${CategoryStudents}">
			<td th:text="${student.Id}">Id</td>
			<td th:text="${student.name}">Name</td>
			<td th:text="${student.department}">Department</td>
			<td th:text="${student.updatedBy}">Updated By</td>
			<td th:text="${student.updatedOn}">Updated On</td>

		</tr>
	</table>
<a th:href="@{/students/getAll}" class="btn btn-info">Back</a>
</div>



	


</body>
</html>